/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBannerBackground {
  background-image: url("/img/undraw_bike_ride.svg");
  background-position: right;
  background-repeat: no-repeat; 
}

.heroBannerText {
  padding: 8rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  height:836px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }

  .heroBannerBackground {
    background-position: top center;
    background-size: auto 500px;
    padding-top: 550px
  }
  
  .heroBannerText {
    padding: 0rem 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    height:auto;
  }

  .heroBannerPlaceholder {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .heroBannerBackground {
    background-size: auto 300px;
    padding-top: 350px
  }
}

